body{
  background-color: white;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;

}
* {
  box-sizing: border-box;
  }
  
.container{
  width: 95%;
  margin: auto;
}
a{
    text-decoration: none;
    color: #0000;
}
a:hover{
    color: blueviolet;
}
ul li{
  list-style: none;
}
header{
  top: 0px;
  background-color: navy;
  color: white;
  padding: 15px;
  margin: 0px;
  display: table;
  clear: both;
  width: 100%;
  position:relative;
}
.logo{
  float: left;
  padding: 10px 0;
}
nav{
  float: right}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 30px;
}

nav a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline;
}

.main-footer{
    bottom:0%;
    text-align: center;
    background-color: navy;
    color: white;
    padding: 10px;
    margin: 0px;
    position: relative;
    width: 100%;
    margin-top: 3em;
    clear: both;
}

.navbar li{
    list-style: none;
    text-decoration: none;
    padding: 0%;
    float: left;
}

.form-group{
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

form {
    margin: 20px auto;
    width: 320px;
    color: navy;
}
input {
  padding: 10px;
  font-size: inherit;
}
input[type="text"]{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: solid navy;
}
input[type="password"]{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: solid navy;
}
input[type="email"]{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: solid navy;
}
input[type="number"]{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: solid navy;
}

.sign-up a{
  color: #000000;
}
.log-in a{
  color: #000000;
}

.tracker-box{
  border: 3px solid black;
  padding: 20px;
  margin: 20px;
  background-color: dimgray;
}
.mymenu{
  border: 2px solid rgb(53, 52, 52);
  padding: 0px 0px;
  margin: 20px;
  top: 0px;
  
}
.mymenu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline;
  color: #000;
}
.mymenu a:hover{
  color: blueviolet;
}
.mymenu:hover
.quote {
  margin-bottom: 60px;
}
.mymenu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.mymenu li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 30px;
}
.box-shadow {
  background-color: #fff;
  box-shadow: 0 1px 8px -3px rgba(0,0,0,0.5);
  margin-top: 25px;
  padding: 25px 25px 50px;
  display: block;
}
.panel-header {
  position: relative;
  background-color: navy;
  height: 52px;
  padding-left: 70px;
  padding-right: 20px;
  margin-bottom: 25px;
  color: #fff;
  line-height: 46px;
  display: block;
}
.quotitle {
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 22px;
}
.box-shadow .quoteform {
  margin-top: 50px;
}
form {
  display: block;
  margin-top: 0em;
  padding: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.quoteform .form-group {
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: navy;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: navy;
}

.textbox {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  background: none;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  border-radius: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
optgroup {
  font-weight: bolder;
  display: block;
}
.material-textbox ~ .focus-border, .select2-container--above ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #39F;
  transition: .4s;
}
table{
  margin-top: 9px;
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
}
tbody tr{
  padding: 18px;
  height:33px;
  text-align: center;
}
thead th:nth-child(1){
  width: 20%;    
}
thead th:nth-child(2){
  width: 10%;    
}
thead th:nth-child(3){
  width: 10%;    
}
thead th:nth-child(4){
  width: 10%;    
}
thead th:nth-child(5){
  width: 10%;    
}
tbody tr{
  padding: 18px;
  height:33px;
  text-align: center;
}
tbody tr:nth-child(odd){
  background: #658b8b;
}
tbody tr:nth-child(even){
  background: #666480  ;
}
tbody tr:hover{
  background: #fff;
}
